@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #color-3;
  font-family: "Open Sans", sans-serif;
  color: #333;
  min-width: 320px; }

a {
  color: initial;
  text-decoration: none; }

a:focus {
  outline: none; }

p, blockquote, li {
  font-size: 1em;
  line-height: 1.5; }

p {
  margin: 0 0 1em 0; }
  p:last-child, p:only-child {
    margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #019B91; }

h1 {
  font-size: 3em;
  line-height: 1.2; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.8em; }

img {
  width: 100%;
  height: auto; }

input, textarea {
  padding: 1.4rem 1rem .4rem;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

textarea {
  height: 100px; }

@font-face {
  font-family: "Icons";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg"); } }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Icons;
  font-size: 20px;
  font-style: normal;
  color: #ABABAB; }

.flaticon-art:before {
  content: "\f100"; }

.flaticon-check:before {
  content: "\f101"; }

.flaticon-computer:before {
  content: "\f102"; }

.flaticon-exclamation:before {
  content: "\f103"; }

.flaticon-favorite:before {
  content: "\f104"; }

.flaticon-folder:before {
  content: "\f105"; }

.flaticon-money:before {
  content: "\f106"; }

.flaticon-paint:before {
  content: "\f107"; }

.flaticon-player:before {
  content: "\f108"; }

.flaticon-school:before {
  content: "\f109"; }

.flaticon-screen:before {
  content: "\f10a"; }

.flaticon-technology:before {
  content: "\f10b"; }

.flaticon-technology-1:before {
  content: "\f10c"; }

.flaticon-web:before {
  content: "\f10d"; }

.header {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0 14.0625%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  /********************************************* Menu **********************************************/
  /*********************************************** contact *****************************************************/ }
  .header a {
    color: #ABABAB; }
  .header .contact,
  .header .menu,
  .header .pestana,
  .header .labels {
    display: flex; }
  .header_logo {
    width: 80%;
    min-width: 223px;
    margin-bottom: 54px; }
  .header_buttons {
    display: flex;
    margin-bottom: 54px; }
    .header_buttons_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      width: 40px;
      height: 40px;
      padding: 5px;
      border: 2px solid #ABABAB; }
      .header_buttons_item:hover {
        border-color: #019B91; }
        .header_buttons_item:hover:before {
          color: #019B91; }
  .header .contact, .header .menu {
    width: 100%;
    position: fixed;
    height: 100vh;
    color: white;
    transition: top 1s ease;
    top: -100%;
    left: 0; }
    .header .contact .pestana, .header .menu .pestana {
      visibility: hidden;
      width: 0; }
    .header .contact .labels, .header .menu .labels {
      align-items: center;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -1.2rem; }
  .header .menu {
    flex-direction: row-reverse;
    background: rgba(3, 97, 122, 0.8);
    overflow: hidden; }
    .header .menu .labels {
      justify-content: flex-end; }
      .header .menu .labels__close {
        font-size: 35px;
        font-weight: 400; }
    .header .menu .items {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-bottom: 30px;
      max-width: 539px; }
      .header .menu .items .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: 95px;
        height: 95px;
        border: 4px solid #FFF; }
  .header .contact {
    right: -99.5%;
    background: rgba(1, 155, 145, 0.8); }
    .header .contact .labels__close {
      font-size: 35px;
      font-weight: 400; }
    .header .contact .labels__item {
      margin-left: 100px;
      width: 70px; }
      .header .contact .labels__item label {
        position: relative;
        top: -20px;
        display: block;
        padding: 25px 0; }
    .header .contact .form {
      width: 100%;
      padding: 0 8.33%;
      display: flex;
      align-items: center; }
      .header .contact .form__content {
        width: 100%; }
      .header .contact .form .text {
        font-size: .9rem;
        margin-bottom: 20px;
        font-weight: 100;
        text-align: center; }
      .header .contact .form label {
        background: #FFF;
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 20px; }
        .header .contact .form label input, .header .contact .form label textarea {
          position: relative;
          z-index: 50;
          background: none; }
        .header .contact .form label span {
          transition: all 0.2s ease;
          position: absolute;
          color: #ABABAB;
          padding: 16px;
          cursor: text; }

.open span {
  font-size: .83rem;
  color: #bbbbbb;
  padding: 6px 16px !important; }

.company {
  text-align: center; }
  .company_description {
    padding: 30px;
    padding-top: 0; }
    .company_description_title {
      margin: 15px 0; }
  .company_acordeon {
    font-weight: 300;
    padding: 15px;
    color: #FFF; }
    .company_acordeon_item {
      overflow: hidden;
      max-width: 480px !important;
      background: #019B91;
      margin: 8px auto; }
      .company_acordeon_item:nth-child(odd) {
        background: #03617A; }
      .company_acordeon_item_title {
        cursor: pointer;
        padding: .5em; }
        .company_acordeon_item_title div {
          transition: all .3s ease;
          font-size: 0;
          height: 0;
          overflow: hidden;
          padding-top: 0; }
          .company_acordeon_item_title div:before {
            color: #FFF;
            font-size: 0; }
        .company_acordeon_item_title h3 {
          transition: all .3s linear;
          font-weight: 400;
          color: #FFF; }
      .company_acordeon_item_description {
        transition: opacity .3s ease;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        height: 0;
        font-size: 1rem; }
        .company_acordeon_item_description_slogan {
          transition: opacity .3s ease;
          opacity: 0;
          font-size: 1.5rem;
          font-style: italic; }
    .company_acordeon .left {
      margin-left: 460px; }
    .company_acordeon .right {
      margin-right: 460px; }
    .company_acordeon .visible {
      padding: 5px 20px; }
      .company_acordeon .visible .company_acordeon_item_title {
        font-size: 1.7rem;
        line-height: 2.5rem; }
        .company_acordeon .visible .company_acordeon_item_title div {
          padding-top: 10px;
          height: auto;
          margin-bottom: 0.5rem; }
          .company_acordeon .visible .company_acordeon_item_title div:before {
            font-size: 4rem; }
        .company_acordeon .visible .company_acordeon_item_title h3 {
          font-size: 1.6rem; }
      .company_acordeon .visible .company_acordeon_item_description {
        height: auto;
        opacity: 1;
        margin-bottom: 30px; }
        .company_acordeon .visible .company_acordeon_item_description_slogan {
          opacity: 1; }

.team {
  background: #29504F;
  height: 800px;
  overflow: hidden; }
  .team_title {
    text-align: center;
    height: 10%;
    padding: 15px; }
  .team_container {
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .team_container_hexagons {
      position: relative;
      width: 120px;
      height: 120px; }
      .team_container_hexagons .hexagon {
        position: absolute;
        z-index: 10;
        width: 120px;
        height: 69.28px;
        margin: 34.64px 0;
        background-size: auto 138.5641px;
        background-position: center; }
        .team_container_hexagons .hexagon:hover {
          z-index: 3; }
        .team_container_hexagons .hexagon:hover .sub_hexagon {
          visibility: inherit;
          position: absolute;
          top: -50%; }
          .team_container_hexagons .hexagon:hover .sub_hexagon .hexTop, .team_container_hexagons .hexagon:hover .sub_hexagon .hexBottom {
            transform: scaleY(0.84) scaleX(1.45); }
        .team_container_hexagons .hexagon .sub_hexagon {
          position: absolute;
          z-index: 500;
          background-color: #29504F;
          opacity: .90;
          cursor: pointer;
          top: -50% !important;
          left: 0 !important;
          visibility: hidden; }
          .team_container_hexagons .hexagon .sub_hexagon_text {
            width: 100%;
            padding: 0 5px;
            font-size: .8rem;
            text-align: center;
            position: absolute;
            top: -20px;
            z-index: 1000;
            color: white; }
            .team_container_hexagons .hexagon .sub_hexagon_text_name {
              font-weight: 700;
              text-transform: uppercase; }
            .team_container_hexagons .hexagon .sub_hexagon_text_icon:before {
              font-size: 3rem;
              color: white; }
        .team_container_hexagons .hexagon .hexTop,
        .team_container_hexagons .hexagon .hexBottom {
          position: absolute;
          z-index: 1;
          width: 84.85px;
          height: 84.85px;
          overflow: hidden;
          -webkit-transform: scaleY(0.5774) rotate(-45deg);
          -ms-transform: scaleY(0.5774) rotate(-45deg);
          transform: scaleY(0.5774) rotate(-45deg);
          background: inherit;
          outline: none;
          left: 17.57px; }
        .team_container_hexagons .hexagon .hexTop:after,
        .team_container_hexagons .hexagon .hexBottom:after {
          content: "";
          position: absolute;
          width: 120.0000px;
          height: 69.2820323027551px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          background: inherit; }
        .team_container_hexagons .hexagon .hexTop {
          top: -42.4264px; }
        .team_container_hexagons .hexagon .hexTop:after {
          background-position: center top; }
        .team_container_hexagons .hexagon .hexBottom {
          bottom: -42.4264px; }
        .team_container_hexagons .hexagon .hexBottom:after {
          background-position: center bottom; }
        .team_container_hexagons .hexagon .hexagon:after {
          content: "";
          position: absolute;
          top: 0.0000px;
          left: 0;
          width: 120.0000px;
          height: 69.2820px;
          z-index: 2;
          background: inherit; }
      .team_container_hexagons > .hexagon:nth-child(1) {
        background-image: url("http://lorempixel.com/400/400/people/9"); }
      .team_container_hexagons > .hexagon:nth-child(2) {
        background-image: url("http://lorempixel.com/400/400/people/2");
        top: -150px;
        left: -85px; }
      .team_container_hexagons > .hexagon:nth-child(3) {
        background-image: url("http://lorempixel.com/400/400/people/3");
        top: -150px;
        left: 85px; }
      .team_container_hexagons > .hexagon:nth-child(4) {
        background-image: url("http://lorempixel.com/400/400/people/4");
        top: 150px;
        left: -85px; }
      .team_container_hexagons > .hexagon:nth-child(5) {
        background-image: url("http://lorempixel.com/400/400/people/5");
        top: 150px;
        left: 85px; }
      .team_container_hexagons > .hexagon:nth-child(6) {
        background-image: url("http://lorempixel.com/400/400/people/6");
        top: 300px;
        left: 0; }
      .team_container_hexagons > .hexagon:nth-child(7) {
        display: none;
        border: 1px solid white;
        border-top: 0;
        border-bottom: 0; }
        .team_container_hexagons > .hexagon:nth-child(7) > .hexTop {
          border: 1px solid white;
          border-left: 0;
          border-bottom: 0; }
        .team_container_hexagons > .hexagon:nth-child(7) > .hexBottom {
          border: 1px solid white;
          border-right: 0;
          border-top: 0; }

.proyects {
  text-align: center;
  background: black;
  min-height: 100vh;
  overflow: hidden; }
  .proyects_title {
    position: absolute;
    top: -80px;
    width: 100%;
    z-index: 800;
    overflow: hidden;
    text-align: center;
    background: black; }
  .proyects_container {
    display: none;
    overflow: hidden;
    position: relative;
    top: 100px;
    height: 900px;
    background-image: url("http://www.todopaisajes.com/Imagenes/paisaje-rural-del-campo.jpg"); }
    .proyects_container_item {
      position: absolute;
      width: 200%;
      height: 500px;
      border: 5px solid black;
      overflow: hidden;
      opacity: .94; }
      .proyects_container_item div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-attachment: inherit; }
      .proyects_container_item:nth-child(2) {
        transform: rotate(0deg); }
        .proyects_container_item:nth-child(2) div {
          transform: rotate(0deg);
          background: url("http://3.bp.blogspot.com/-mWyznU_aLxg/T4sT9yb_C6I/AAAAAAAAARc/9ly-u0vbud0/s1600/Cuba-Paisaje-Natural_3.jpg") center bottom; }
      .proyects_container_item:nth-child(3) {
        top: 10rem;
        z-index: 350;
        transform: rotate(-30deg); }
        .proyects_container_item:nth-child(3) div {
          background: url("http://radiodigitalamerica.com/wp-content/uploads/2016/01/Dise%C3%B1o-Gr%C3%A1fico-10-Preguntas-Radio-Digital-America.jpg") center top; }
      .proyects_container_item:nth-child(4) {
        z-index: 350;
        transform: rotate(-19deg);
        top: 25rem;
        left: -100px; }
        .proyects_container_item:nth-child(4) div {
          background: url(http://www.ediciona.com/portafolio/image/6/5/4/1/iria_1456.jpg) center bottom; }
      .proyects_container_item:nth-child(5) {
        z-index: 300;
        left: -350px;
        height: 500px;
        transform: rotate(48deg);
        top: 10rem; }
        .proyects_container_item:nth-child(5) div {
          background: url("http://mlv-s2-p.mlstatic.com/diseno-grafico-paginas-web-diseno-de-marcas-y-productos-17360-MLV20137046245_072014-F.jpg") center bottom; }
      .proyects_container_item:nth-child(6) {
        z-index: 500;
        transform: rotate(20deg);
        top: 44rem;
        left: -200px; }
        .proyects_container_item:nth-child(6) div {
          background: url("http://saetaweb.com/site/wp-content/uploads/2012/11/serv-diseno-grafico.jpg") center bottom; }

.customers {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  overflow: hidden; }
  .customers_container {
    height: 100px;
    width: 100%;
    display: flex;
    margin: 90px 0 100px;
    background: red url("../img/logos.png") left;
    animation: 30s infinite linear; }

.right {
  animation-name: slider-right; }

.left {
  animation-name: slider-left; }

@keyframes slider-right {
  100% {
    background-position: 2050px; } }
@keyframes slider-left {
  100% {
    background-position: -2050px; } }
.footer {
  text-align: center;
  background: #03617A;
  color: white;
  padding-top: 20px;
  font-size: .8rem; }
  .footer_title {
    font-weight: 700;
    display: inline-block; }
  .footer_copy {
    display: inline-block; }
  .footer_credits {
    font-size: 7px;
    color: #03617A; }
    .footer_credits a {
      color: #03617A; }

a.active {
  color: #019B91; }

.fixedMenu {
  position: fixed !important;
  top: -42px !important;
  right: 2px !important;
  z-index: 5000 !important;
  animation: enlargeMenu 1s 1; }

@keyframes enlargeMenu {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
.btn {
  border: none;
  background: #FFF;
  width: auto;
  padding: .5rem 2.2rem !important;
  margin: auto;
  display: inherit;
  color: #019B91; }

.slideDown {
  top: 0 !important;
  left: 0 !important;
  z-index: 7000 !important;
  border: 0 !important; }

@media screen and (max-height: 485px) and (max-width: 768px) and (orientation: landscape) {
  .contact .labels, .menu .labels {
    padding: 0 10px !important; }

  .contact .form {
    justify-content: center;
    flex-direction: column; }
    .contact .form .text {
      margin-bottom: 10px !important; }
    .contact .form input, .contact .form textarea {
      padding-top: 1rem;
      height: 55px; }
    .contact .form label {
      margin-bottom: 10px !important; }
    .contact .form .btn {
      height: 40px; } }
@media screen and (min-width: 400px) and (min-height: 590px) {
  .menu .items {
    max-width: 717px !important; }
    .menu .items .item {
      width: 140px !important;
      height: 140px !important; } }
@media screen and (min-width: 600px) {
  .team {
    height: 1200px; }

  .team_container {
    height: 60%; }
    .team_container_hexagons {
      width: 200px;
      height: 200px; }
      .team_container_hexagons .hexagon {
        width: 200px;
        height: 115.47px;
        margin: 57.74px 0;
        background-size: auto 230.9401px; }
        .team_container_hexagons .hexagon .sub_hexagon_text {
          font-size: 1.1rem;
          top: -25px; }
          .team_container_hexagons .hexagon .sub_hexagon_text_icon:before {
            font-size: 5rem; }
        .team_container_hexagons .hexagon .hexTop,
        .team_container_hexagons .hexagon .hexBottom {
          width: 141.42px;
          height: 141.42px;
          left: 29.29px; }
        .team_container_hexagons .hexagon .hexTop:after,
        .team_container_hexagons .hexagon .hexBottom:after {
          width: 200.0000px;
          height: 115.47005383792516px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-57.735px); }
        .team_container_hexagons .hexagon .hexTop {
          top: -70.7107px; }
        .team_container_hexagons .hexagon .hexBottom {
          bottom: -70.7107px; }
        .team_container_hexagons .hexagon .hexagon:after {
          width: 200px;
          height: 115.4701px; }
      .team_container_hexagons > .hexagon:nth-child(2) {
        top: -240px;
        left: -137px; }
      .team_container_hexagons > .hexagon:nth-child(3) {
        top: -240px;
        left: 137px; }
      .team_container_hexagons > .hexagon:nth-child(4) {
        top: 240px;
        left: -137px; }
      .team_container_hexagons > .hexagon:nth-child(5) {
        top: 240px;
        left: 137px; }
      .team_container_hexagons > .hexagon:nth-child(6) {
        top: 480px;
        left: 0; } }
@media screen and (min-width: 768px) {
  .menu .items {
    max-width: 780px !important; }
    .menu .items .item {
      width: 170px !important;
      height: 170px !important; } }
@media screen and (min-width: 1024px) {
  .header .contact, .header .menu {
    overflow: visible;
    transition: left 1s ease;
    top: 0 !important; }
    .header .contact .pestana, .header .menu .pestana {
      visibility: visible !important;
      cursor: pointer;
      height: 385px;
      font-weight: 600;
      line-height: 1.1em;
      color: black;
      align-items: center;
      justify-content: center;
      align-self: center;
      position: relative;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      width: 0; }
      .header .contact .pestana div, .header .menu .pestana div {
        width: 13px;
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center; }
        .header .contact .pestana div p, .header .menu .pestana div p {
          line-height: 1.2; }
        .header .contact .pestana div:focus, .header .menu .pestana div:focus {
          outline: none; }
    .header .contact .labels, .header .menu .labels {
      padding: 22px;
      position: initial; }
  .header .menu {
    border-right: 10px solid #03617A;
    left: -99.5%; }
    .header .menu .pestana {
      left: 35px;
      flex-direction: column;
      border-left: 35px solid #03617A; }
      .header .menu .pestana div {
        margin-right: 37px; }
  .header .contact {
    border-left: 10px solid #019B91;
    left: 99.5%; }
    .header .contact .pestana {
      right: 35px;
      border-right: 35px solid #019B91; }
      .header .contact .pestana div {
        margin-left: 35px; }
    .header .contact .text {
      text-align: left !important; }
    .header .contact .btn {
      margin: 0; }
  .header .header_buttons {
    display: none; }

  .company_acordeon {
    position: relative;
    margin: auto;
    width: 926px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; }
    .company_acordeon_item {
      cursor: pointer;
      margin: 12px;
      width: 200px;
      height: 200px;
      float: left; }
      .company_acordeon_item_title {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center; }
  .company_description_text {
    margin: auto;
    padding: 0 25px;
    max-width: 1100px; }

  .visible {
    position: absolute;
    width: 424px;
    height: 424px; }
    .visible:nth-child(1), .visible:nth-child(5) {
      top: 15px;
      left: 15px; }
    .visible:nth-child(2), .visible:nth-child(6) {
      left: 240px;
      top: 15px; }
    .visible:nth-child(3), .visible:nth-child(7) {
      right: 240px;
      top: 15px; }
    .visible:nth-child(4), .visible:nth-child(8) {
      right: 15px;
      top: 15px; }
    .visible .company_acordeon_item_title {
      display: inherit;
      height: auto; }

  .team_container_hexagons {
    width: 300px;
    height: 300px; }
    .team_container_hexagons .hexagon {
      top: 50% !important;
      left: 50% !important; }
    .team_container_hexagons > .hexagon:nth-child(1) {
      margin-top: -34px;
      margin-left: -370px; }
    .team_container_hexagons > .hexagon:nth-child(2) {
      margin-top: -270px;
      margin-left: -236px; }
    .team_container_hexagons > .hexagon:nth-child(3) {
      margin-top: -270px;
      margin-left: 36px; }
    .team_container_hexagons > .hexagon:nth-child(4) {
      margin-top: -34px;
      margin-left: 170px; }
    .team_container_hexagons > .hexagon:nth-child(5) {
      margin-top: 202px;
      margin-left: 36px; }
    .team_container_hexagons > .hexagon:nth-child(6) {
      margin-top: 202px;
      margin-left: -236px; }
    .team_container_hexagons > .hexagon:nth-child(7) {
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 300px;
      height: 173.21px;
      margin: 86.60px 0;
      background-size: auto 346.4102px;
      /*counter transform the bg image on the caps*/ }
      .team_container_hexagons > .hexagon:nth-child(7) > .hexTop,
      .team_container_hexagons > .hexagon:nth-child(7) > .hexBottom {
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        overflow: hidden;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background: inherit;
        left: 43.93px; }
      .team_container_hexagons > .hexagon:nth-child(7) > .hexTop:after,
      .team_container_hexagons > .hexagon:nth-child(7) > .hexBottom:after {
        content: "";
        position: absolute;
        width: 300.0000px;
        height: 173.20508075688775px;
        -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
        -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
        transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        background: inherit; }
      .team_container_hexagons > .hexagon:nth-child(7) > .hexTop {
        top: -106.0660px; }
      .team_container_hexagons > .hexagon:nth-child(7) > .hexTop:after {
        background-position: center top; }
      .team_container_hexagons > .hexagon:nth-child(7) .hexBottom {
        bottom: -106.0660px; }
      .team_container_hexagons > .hexagon:nth-child(7) .hexBottom:after {
        background-position: center bottom; }
      .team_container_hexagons > .hexagon:nth-child(7) .hexagon:after {
        content: "";
        position: absolute;
        top: 0.0000px;
        left: 0;
        width: 300.0000px;
        height: 173.2051px;
        z-index: 2;
        background: inherit; } }

/*# sourceMappingURL=styles.css.map */
