
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);

//fotos

$foto1  : "http://lorempixel.com/300/200/people/";
$foto2  : "http://lorempixel.com/300/200/people/";
$foto3  : "http://lorempixel.com/300/200/people/";
$foto4  : "http://lorempixel.com/300/200/people/";
$foto5  : "http://lorempixel.com/300/200/people/";
$foto6  : "http://lorempixel.com/300/200/people/";

// Variables para aplicarlas en font-weight
  $light      : 300;
  $normal     : 400;
  $semi-bold  : 600;
  $bold       : 700;
  $extra-bold : 800;

// PALETA DE COLOR, modifique para su propia paleta de color
  $color-1     : #03617A;
  $color-2     : #019B91;
  $color-3     : #FFF;
  $color-4     : #29504F;
  $color-5     : #032F2E;
  $color-6     : #1F5646;
  $color-6     : #ABABAB;

// ESTILOS BASE
  $body--background  : #color-3;                      // fondo para el body
  $body--font-family : 'Open Sans', sans-serif;   // fuente predeterminada
  $body--color       : #333;                      // color de texto predeterminado

// ESTILOS DE ENCABEZADOS
  $header--font-family    : 'Open Sans', sans-serif;  // fuente para los headers (h1,h2,h3...)
  $header--font-weight    : $normal;                    // grosor de fuente para los headers
  $header--text-transform : uppercase;                   // normal, uppercase, lowercase, capitalize
  $header--color          : $color-2;                     // color predeterminado de los header

// TAMAÑO DE LOS ENCABEZADOS (h1...h6)
  $h1--font-size : 3em;
  $h2--font-size : 2em;
  $h3--font-size : 1.2em;
  $h4--font-size : 1em;
  $h5--font-size : .9em;
  $h6--font-size : .8em;

// ESTIILOS DE ENLACES
  $link--color : initial;  // color para los enlaces

// ESTILOS DE PÁRRAFOS
  $p--font-size   : 1em;        // Tamaño de fuente
  $p--line-height : 1.5;        // Altura de línea
  $p--margin      : 1em;        // Separación entre un párrafo y el siguiente
  $p--font-weight : $normal;    // Grosor predeterminado de la fuente


  @import "base/base";
  @import "tema/iconos";
  @import "tema/header";
  @import "tema/company";
  @import "tema/team";
  @import "tema/proyects";
  @import "tema/customers";
  @import "tema/footer";

  @import "tema/main";
  @import "modulos/modulos";