@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #color-3;
  font-family: "Open Sans", sans-serif;
  color: #333; }

a {
  color: initial;
  text-decoration: none; }

a:focus {
  outline: none; }

p, blockquote, li {
  font-size: 1em;
  line-height: 1.5; }

p {
  margin: 0 0 1em 0; }
  p:last-child, p:only-child {
    margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #019B91; }

h1 {
  font-size: 3em;
  line-height: 1.2; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.8em; }

img {
  width: 100%;
  height: auto; }

@font-face {
  font-family: "Icons";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../../fonts/Flaticon.woff") format("woff"), url("../../fonts/Flaticon.ttf") format("truetype"), url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg"); } }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Icons;
  font-size: 20px;
  font-style: normal;
  color: #ABABAB; }

.flaticon-art:before {
  content: "\f100"; }

.flaticon-check:before {
  content: "\f101"; }

.flaticon-computer:before {
  content: "\f102"; }

.flaticon-exclamation:before {
  content: "\f103"; }

.flaticon-favorite:before {
  content: "\f104"; }

.flaticon-folder:before {
  content: "\f105"; }

.flaticon-money:before {
  content: "\f106"; }

.flaticon-paint:before {
  content: "\f107"; }

.flaticon-player:before {
  content: "\f108"; }

.flaticon-school:before {
  content: "\f109"; }

.flaticon-screen:before {
  content: "\f10a"; }

.flaticon-technology:before {
  content: "\f10b"; }

.flaticon-technology-1:before {
  content: "\f10c"; }

.flaticon-web:before {
  content: "\f10d"; }

.header {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0 14.0625%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  /********************************************* Menu **********************************************/
  /*********************************************** contact *****************************************************/ }
  .header a {
    color: #ABABAB; }
  .header .contact,
  .header .menu,
  .header .pestana,
  .header .labels,
  .header .contact .form,
  .header .contact .form__menu,
  .header .contact .form__menu__content {
    display: flex; }
  .header_logo {
    width: 80%;
    min-width: 223px;
    margin-bottom: 54px; }
  .header_buttons {
    display: flex;
    margin-bottom: 54px; }
    .header_buttons_item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      width: 40px;
      height: 40px;
      padding: 5px;
      border: 2px solid #ABABAB; }
      .header_buttons_item:hover {
        border-color: #019B91; }
        .header_buttons_item:hover:before {
          color: #019B91; }
  .header .contact, .header .menu {
    width: 100%;
    position: fixed;
    min-height: 560px;
    height: 100vh;
    color: white;
    top: 0; }
    .header .contact .pestana, .header .menu .pestana {
      visibility: hidden;
      cursor: pointer;
      height: 385px;
      font-weight: 600;
      line-height: 1.1em;
      color: black;
      align-items: center;
      justify-content: center;
      align-self: center;
      position: relative;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      width: 0; }
      .header .contact .pestana div, .header .menu .pestana div {
        width: 13px;
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center; }
        .header .contact .pestana div p, .header .menu .pestana div p {
          line-height: 1.2; }
        .header .contact .pestana div:focus, .header .menu .pestana div:focus {
          outline: none; }
    .header .contact .labels, .header .menu .labels {
      align-items: center;
      padding: 22px; }
  .header .menu {
    flex-direction: row-reverse;
    left: -99.5%;
    border-right: 10px solid #03617A;
    background: rgba(3, 97, 122, 0.8); }
    .header .menu .pestana {
      left: 35px;
      flex-direction: column;
      border-left: 35px solid #03617A; }
      .header .menu .pestana div {
        margin-right: 37px; }
    .header .menu .labels {
      justify-content: flex-end; }
      .header .menu .labels__close {
        font-size: 35px;
        font-weight: 400; }
    .header .menu .items {
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 55.55555555555556%; }
      .header .menu .items .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 28.625%;
        height: 229px;
        border: 4px solid #FFF; }
        .header .menu .items .item:nth-child(1), .header .menu .items .item:nth-child(2), .header .menu .items .item:nth-child(3) {
          margin-top: 0; }
        .header .menu .items .item [class^="flaticon-"]:before, .header .menu .items .item [class*=" flaticon-"]:before,
        .header .menu .items .item [class^="flaticon-"]:after, .header .menu .items .item [class*=" flaticon-"]:after {
          font-size: 100px;
          margin-left: 0; }
  .header .contact {
    right: -99.5%;
    border-left: 10px solid #019B91;
    background: rgba(1, 155, 145, 0.8); }
    .header .contact .pestana {
      right: 35px;
      border-right: 35px solid #019B91; }
      .header .contact .pestana div {
        margin-left: 35px; }
    .header .contact .labels {
      justify-content: space-between; }
      .header .contact .labels__close {
        font-size: 35px;
        font-weight: 400; }
      .header .contact .labels__item {
        margin-left: 100px;
        width: 70px; }
        .header .contact .labels__item label {
          position: relative;
          top: -20px;
          display: block;
          padding: 25px 0; }
    .header .contact .form {
      flex-direction: column;
      justify-content: center;
      flex-grow: 1; }
      .header .contact .form__menu {
        font-size: 13px;
        font-weight: 400;
        flex-direction: column;
        align-items: center; }
        .header .contact .form__menu__content {
          flex-wrap: wrap;
          margin: 30px 0; }
          .header .contact .form__menu__content li {
            margin-right: 20px; }
            .header .contact .form__menu__content li:last-child {
              margin: 0; }
      .header .contact .form__content {
        flex-direction: column; }
        .header .contact .form__content div {
          margin: 35px 0;
          display: flex; }
          .header .contact .form__content div label {
            padding: 0 3.472222222222222%; }
          .header .contact .form__content div textarea, .header .contact .form__content div input {
            flex-grow: 1; }
          .header .contact .form__content div input.btn-1 {
            flex-grow: 0;
            min-width: 133px; }

.company {
  text-align: center; }
  .company_description {
    margin-bottom: 30px;
    padding: 30px;
    padding-top: 0; }
    .company_description_title {
      margin: 15px 0; }
  .company_acordeon {
    font-weight: 300;
    padding: 15px;
    color: #FFF; }
    .company_acordeon_item {
      background: #019B91;
      margin-bottom: 15px; }
      .company_acordeon_item:nth-child(odd) {
        background: #03617A; }
      .company_acordeon_item_title {
        transition: all .5s ease;
        cursor: pointer;
        padding: .5em; }
        .company_acordeon_item_title div {
          transition: all .5s ease;
          font-size: 0;
          height: 0;
          overflow: hidden;
          padding-top: 0; }
          .company_acordeon_item_title div:before {
            transition: all .5s ease;
            color: #FFF;
            font-size: 0; }
        .company_acordeon_item_title h3 {
          transition: all 1s linear;
          font-weight: 400;
          color: #FFF; }
      .company_acordeon_item_description {
        transition: all 1s ease;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        height: 0;
        font-size: 1rem; }
        .company_acordeon_item_description_slogan {
          transition: all 1s ease;
          font-size: 0;
          opacity: 0; }
    .company_acordeon .visible {
      padding: 5px 20px; }
      .company_acordeon .visible .company_acordeon_item_title {
        transition: all .5s ease;
        font-size: 1.7rem;
        line-height: 2.5rem; }
        .company_acordeon .visible .company_acordeon_item_title div {
          transition: all 1s ease;
          padding-top: 10px;
          height: auto;
          margin-bottom: 0.5rem; }
          .company_acordeon .visible .company_acordeon_item_title div:before {
            transition: all 1s ease;
            font-size: 4rem; }
        .company_acordeon .visible .company_acordeon_item_title h3 {
          transition: all 1s ease; }
      .company_acordeon .visible .company_acordeon_item_description {
        transition: all 1s ease;
        height: auto;
        opacity: 1;
        margin-bottom: 30px; }
        .company_acordeon .visible .company_acordeon_item_description_slogan {
          transition: all 1s ease;
          font-size: 1.5rem;
          opacity: 1;
          font-style: italic; }

.team {
  background: #29504F;
  height: 100vh;
  min-height: 780px;
  overflow: hidden; }
  .team_title {
    text-align: center;
    height: 10%;
    padding: 15px; }
  .team_container {
    height: 66%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .team_container_hexagons {
      position: relative;
      width: 120px;
      height: 120px; }
      .team_container_hexagons .hexagon {
        position: absolute;
        width: 120px;
        height: 69.28px;
        margin: 34.64px 0;
        background-size: auto 138.5641px;
        background-position: center; }
        .team_container_hexagons .hexagon:hover .sub_hexagon {
          visibility: inherit; }
          .team_container_hexagons .hexagon:hover .sub_hexagon .hexTop, .team_container_hexagons .hexagon:hover .sub_hexagon .hexBottom {
            transform: scale(1.4); }
        .team_container_hexagons .hexagon .sub_hexagon {
          position: absolute;
          z-index: 500;
          background-color: #29504F;
          opacity: .90;
          cursor: pointer;
          top: -35px;
          visibility: hidden; }
          .team_container_hexagons .hexagon .sub_hexagon_text {
            padding: 0 5px;
            font-size: .8rem;
            text-align: center;
            position: absolute;
            top: -20px;
            left: 9px;
            z-index: 1000;
            color: white; }
            .team_container_hexagons .hexagon .sub_hexagon_text_name {
              font-weight: 700;
              text-transform: uppercase; }
            .team_container_hexagons .hexagon .sub_hexagon_text_icon:before {
              font-size: 3rem;
              color: white; }
        .team_container_hexagons .hexagon .hexTop,
        .team_container_hexagons .hexagon .hexBottom {
          position: absolute;
          z-index: 1;
          width: 84.85px;
          height: 84.85px;
          overflow: hidden;
          -webkit-transform: scaleY(0.5774) rotate(-45deg);
          -ms-transform: scaleY(0.5774) rotate(-45deg);
          transform: scaleY(0.5774) rotate(-45deg);
          background: inherit;
          outline: none;
          left: 17.57px; }
        .team_container_hexagons .hexagon .hexTop:after,
        .team_container_hexagons .hexagon .hexBottom:after {
          content: "";
          position: absolute;
          width: 120.0000px;
          height: 69.2820323027551px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-34.641px);
          -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          transform-origin: 0 0;
          background: inherit; }
        .team_container_hexagons .hexagon .hexTop {
          top: -42.4264px; }
        .team_container_hexagons .hexagon .hexTop:after {
          background-position: center top; }
        .team_container_hexagons .hexagon .hexBottom {
          bottom: -42.4264px; }
        .team_container_hexagons .hexagon .hexBottom:after {
          background-position: center bottom; }
        .team_container_hexagons .hexagon .hexagon:after {
          content: "";
          position: absolute;
          top: 0.0000px;
          left: 0;
          width: 120.0000px;
          height: 69.2820px;
          z-index: 2;
          background: inherit; }
      .team_container_hexagons > .hexagon:nth-child(1) {
        background-image: url("http://lorempixel.com/400/400/people/9"); }
      .team_container_hexagons > .hexagon:nth-child(2) {
        background-image: url("http://lorempixel.com/400/400/people/2");
        top: -150px;
        left: -85px; }
      .team_container_hexagons > .hexagon:nth-child(3) {
        background-image: url("http://lorempixel.com/400/400/people/3");
        top: -150px;
        left: 85px; }
      .team_container_hexagons > .hexagon:nth-child(4) {
        background-image: url("http://lorempixel.com/400/400/people/4");
        top: 150px;
        left: -85px; }
      .team_container_hexagons > .hexagon:nth-child(5) {
        background-image: url("http://lorempixel.com/400/400/people/5");
        top: 150px;
        left: 85px; }
      .team_container_hexagons > .hexagon:nth-child(6) {
        background-image: url("http://lorempixel.com/400/400/people/6");
        top: 300px;
        left: 0; }

.proyects {
  text-align: center;
  background: black;
  min-height: 100vh;
  overflow: hidden; }
  .proyects_title {
    position: absolute;
    top: -80px;
    width: 100%;
    z-index: 800;
    overflow: hidden;
    text-align: center;
    background: black; }
  .proyects_container {
    display: none;
    overflow: hidden;
    position: relative;
    top: 100px;
    height: 900px;
    background-image: url("http://www.todopaisajes.com/Imagenes/paisaje-rural-del-campo.jpg"); }
    .proyects_container_item {
      position: absolute;
      width: 200%;
      height: 500px;
      border: 5px solid black;
      overflow: hidden;
      opacity: .94; }
      .proyects_container_item div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-attachment: inherit; }
      .proyects_container_item:nth-child(2) {
        transform: rotate(0deg); }
        .proyects_container_item:nth-child(2) div {
          transform: rotate(0deg);
          background: url("http://3.bp.blogspot.com/-mWyznU_aLxg/T4sT9yb_C6I/AAAAAAAAARc/9ly-u0vbud0/s1600/Cuba-Paisaje-Natural_3.jpg") center bottom; }
      .proyects_container_item:nth-child(3) {
        top: 10rem;
        z-index: 350;
        transform: rotate(-30deg); }
        .proyects_container_item:nth-child(3) div {
          background: url("http://radiodigitalamerica.com/wp-content/uploads/2016/01/Dise%C3%B1o-Gr%C3%A1fico-10-Preguntas-Radio-Digital-America.jpg") center top; }
      .proyects_container_item:nth-child(4) {
        z-index: 350;
        transform: rotate(-19deg);
        top: 25rem;
        left: -100px; }
        .proyects_container_item:nth-child(4) div {
          background: url(http://www.ediciona.com/portafolio/image/6/5/4/1/iria_1456.jpg) center bottom; }
      .proyects_container_item:nth-child(5) {
        z-index: 300;
        left: -350px;
        height: 500px;
        transform: rotate(48deg);
        top: 10rem; }
        .proyects_container_item:nth-child(5) div {
          background: url("http://mlv-s2-p.mlstatic.com/diseno-grafico-paginas-web-diseno-de-marcas-y-productos-17360-MLV20137046245_072014-F.jpg") center bottom; }
      .proyects_container_item:nth-child(6) {
        z-index: 500;
        transform: rotate(20deg);
        top: 44rem;
        left: -200px; }
        .proyects_container_item:nth-child(6) div {
          background: url("http://saetaweb.com/site/wp-content/uploads/2012/11/serv-diseno-grafico.jpg") center bottom; }

.customers {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  overflow: hidden; }
  .customers_container {
    height: 100px;
    width: 100%;
    display: flex;
    margin: 50px 0 100px;
    background: red url("../img/logos.png") left;
    animation: 10s infinite linear; }

.right {
  animation-name: slider-right; }

.left {
  animation-name: slider-left; }

@keyframes slider-right {
  100% {
    background-position: 2050px; } }
@keyframes slider-left {
  100% {
    background-position: -2050px; } }
.footer {
  text-align: center;
  background: #03617A;
  color: white;
  padding-top: 20px;
  font-size: .8rem; }
  .footer_title {
    font-weight: 700;
    display: inline-block; }
  .footer_copy {
    display: inline-block; }
  .footer_credits {
    font-size: 7px;
    color: #03617A; }
    .footer_credits a {
      color: #03617A; }

@media screen and (min-width: 1024px) {
  .header .contact .pestana, .header .menu .pestana {
    visibility: visible; }
  .header .header_buttons {
    display: none; } }
a.active {
  color: #019B91; }

.fixedMenu {
  position: fixed !important;
  top: -42px !important;
  right: 2px !important;
  z-index: 5000 !important;
  animation: enlargeMenu 1s 1; }

@keyframes enlargeMenu {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
