a.active{
  color: $color-2;
}
.fixedMenu{
  position: fixed !important;
  top:-42px !important;
  right: 2px !important;
  z-index: 5000 !important;
  animation: enlargeMenu 1s 1;
}

@keyframes  enlargeMenu{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.btn{
  border: none;
  background: $color-3;
  width:auto;
  padding: .5rem 2.2rem !important;
  margin: auto;
  display: inherit;
  color: $color-2;
}