.company{
  text-align: center;
  &_description{
    padding: 30px;
    padding-top: 0;
    &_title{
      margin: 15px 0;
    }
  }

  &_acordeon{
    font-weight:$light;
    padding:15px;
    color: $color-3;

    &_item{
      overflow: hidden;
      max-width: 480px !important;
      background: $color-2;
      margin:8px auto;
      &:nth-child(odd){
        background: $color-1;
      }
      &_title{
        cursor: pointer;
        padding: .5em;
        div{
          transition:all .3s ease;
          font-size: 0;
          height: 0;
          overflow: hidden;
          padding-top: 0;
          &:before{
            color: $color-3;
            font-size: 0;
          }
        }
        h3{
          transition:all .3s linear;
          font-weight: $normal;
          color: $color-3;
        }
      }
      &_description{
        transition:opacity .3s ease;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        height: 0;
        font-size: 1rem;
        &_slogan{
          transition:opacity .3s ease;
          opacity: 0;
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }
    .left{
      margin-left: 460px;
    }
    .right{
      margin-right: 460px;
    }
    .visible{
      padding: 5px 20px;
      .company_acordeon_item{
        &_title{
          font-size: 1.7rem;
          line-height: 2.5rem;
          div{
            padding-top: 10px;
            height: auto;
            margin-bottom: 0.5rem;
            &:before{
              font-size: 4rem;
            }
          }
          h3{
            font-size: 1.6rem;
          }
        }
        &_description{
          height: auto;
          opacity: 1;
          margin-bottom: 30px;
          &_slogan{
            opacity: 1;
          }
        }
      }
    }
  }
}

