.company{
  text-align: center;
  &_description{
    margin-bottom: 30px;
    padding: 30px;
    padding-top: 0;
    &_title{
      margin: 15px 0;
    }
  }

  &_acordeon{
    font-weight:$light;
    padding:15px;
    color: $color-3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &_item{
      max-width: 480px;
      background: $color-2;
      margin-bottom:15px;
      &:nth-child(odd){
        background: $color-1;
      }
      &_title{
        transition:all .5s ease;
        cursor: pointer;
        padding: .5em;
        div{
          transition:all .5s ease;
          font-size: 0;
          height: 0;
          overflow: hidden;
          padding-top: 0;
          &:before{
            transition:all .5s ease;
            color: $color-3;
            font-size: 0;
          }
        }
        h3{
          transition:all 1s linear;
          font-weight: $normal;
          color: $color-3;
        }
      }
      &_description{
        transition:all 1s ease;
        opacity: 0;
        overflow: hidden;
        margin: 0;
        height: 0;
        font-size: 1rem;
        &_slogan{
          transition:all 1s ease;
          font-size: 0;
          opacity: 0;
        }
      }
    }

    .visible{
      padding: 5px 20px;
      .company_acordeon_item{
        &_title{
          transition:all .5s ease;
          font-size: 1.7rem;
          line-height: 2.5rem;
          div{
            transition:all 1s ease;
            padding-top: 10px;
            height: auto;
            margin-bottom: 0.5rem;
            &:before{
              transition:all 1s ease;
              font-size: 4rem;
            }
          }
          h3{
            transition:all 1s ease;
          }
        }
        &_description{
          transition:all 1s ease;
          height: auto;
          opacity: 1;
          margin-bottom: 30px;
          &_slogan{
            transition:all 1s ease;
            font-size: 1.5rem;
            opacity: 1;
            font-style: italic;
          }
        }
      }
    }
  }
}

