.header{
  display: flex;
  min-height: 100vh;
  width:100%;
  padding:0 14.0625%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;

  a{
    color: $color-6;
  }

  .contact,
  .menu,
  .pestana,
  .labels,
  .contact .form,
  .contact .form__menu,
  .contact .form__menu__content{
    display:flex;
  }

  &_logo{
    width:80%;
    min-width:223px;
    margin-bottom:54px;
  }

  &_buttons{
    display: flex;
    margin-bottom:54px;
    &_item{
      display: flex;
      justify-content:center;
      align-items: center;
      margin:0 10px;
      width:40px;
      height:40px;
      padding: 5px;
      border: 2px solid $color-6;

      &:hover{
        border-color: $color-2;
        &:before{
          color: $color-2;
        }
      }
    }
  }

  .contact, .menu{
    width: 100%;
    position: fixed;
    min-height: 560px;
    height: 100vh;
    color: white;
    top:0;
    .pestana{
      visibility: hidden;
      cursor: pointer;
      height: 385px;
      font-weight: $semi-bold;
      line-height: 1.1em;
      color: black;
      align-items: center;
      justify-content: center;
      align-self: center;
      position: relative;
      border-top: 35px solid transparent;
      border-bottom: 35px solid transparent;
      width: 0;

      div{
        width: 13px;
        text-transform: uppercase;
        word-wrap: break-word;
        text-align: center;
        p{
          line-height: 1.2;
        }

        &:focus{
          outline: none;
        }
      }
    }

    .labels{
      align-items: center;
      padding: 22px;
    }
  }

  /********************************************* Menu **********************************************/

  .menu{
    flex-direction: row-reverse;
    left: -99.5%;
    border-right: 10px solid $color-1;
    background: rgba($color-1, .8);

    .pestana{
      left: 35px;
      flex-direction: column;
      border-left: 35px solid $color-1;

      div {
        margin-right: 37px;
      }
    }

    .labels{
      justify-content:flex-end;

      &__close{
        font-size: 35px;
        font-weight: $normal;
      }
    }

    .items{
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 55.55555555555556%;
      .item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 28.625%;
        height: 229px;
        border: 4px solid $color-3;
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
          margin-top: 0;
        }

        [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
          font-size: 100px;
          margin-left: 0;
        }
      }
    }
  }

  /*********************************************** contact *****************************************************/

  .contact{
    right: -99.5%;
    border-left: 10px solid $color-2;
    background: rgba($color-2, .8);
    .pestana{
      right: 35px;
      border-right: 35px solid $color-2;

      div {
        margin-left: 35px;
      }
    }
    .labels{
      justify-content:space-between;

      &__close{
        font-size: 35px;
        font-weight: $normal;
      }

      &__item{
        margin-left: 100px;
        width: 70px;
        label{
          position:relative;
          top:-20px;
          display: block;
          padding: 25px 0;
        }
      }
    }
    .form{
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      &__menu{
        font-size: 13px;
        font-weight: $normal;
        flex-direction: column;
        align-items: center;

        &__content{
          flex-wrap: wrap;
          margin: 30px 0;

          li{
            margin-right: 20px;
            &:last-child{
              margin: 0;
            }
          }
        }
      }

      &__content{
        flex-direction: column;
        div{
          margin: 35px 0;
          display:flex;
          label{
            padding:0 3.472222222222222%;
          }
          textarea, input{
            flex-grow: 1;
          }
          input.btn-1{
            flex-grow: 0;
            min-width: 133px;
          }
        }
      }
    }
  }
}