@media screen and (max-height: 485px) and (max-width: 768px) and (orientation: landscape){
  .contact, .menu{
    .labels{
      padding: 0 10px!important;
    }
  }
  .contact{
    .form{
      justify-content: center;
      flex-direction: column;
      .text{
        margin-bottom: 10px !important;
      }
      input, textarea{
        padding-top: 1rem;
        height: 55px;
      }
      label{
        margin-bottom: 10px !important;
      }
      .btn{
        height: 40px;
      }
    }
  }
}

@media screen and (min-width: 400px) and (min-height: 590px){
  .menu{
    .items{
      max-width: 717px !important;
      .item{
        width: 140px !important;
        height: 140px !important;
      }
    }
  }
}

@media screen and (min-width: 600px){
  .team{
    height: 1200px;
  }
  .team_container{
    height: 60%;
    &_hexagons {
      width: 200px;
      height: 200px;
      .hexagon {
        width: 200px;
        height: 115.47px;
        margin: 57.74px 0;
        background-size: auto 230.9401px;

        .sub_hexagon_text{
            font-size: 1.1rem;
            top:-25px;

            &_icon:before{
              font-size: 5rem;
            }
        }

        .hexTop,
        .hexBottom {
          width: 141.42px;
          height: 141.42px;
          left: 29.29px;
        }

        .hexTop:after,
        .hexBottom:after {
          width: 200.0000px;
          height: 115.47005383792516px;
          -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
          -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
          transform: rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
        }

        .hexTop {
          top: -70.7107px;
        }

        .hexBottom {
          bottom: -70.7107px;
        }

        .hexagon:after {
          width: 200px;
          height: 115.4701px;
        }
      }

      $positionTop: 240px;
      $positionLeft: 137px;

      > .hexagon:nth-child(2) {
        top: -$positionTop;
        left: -$positionLeft;
      }

      > .hexagon:nth-child(3) {
        top: -$positionTop;
        left: $positionLeft;
      }

      > .hexagon:nth-child(4) {
        top: $positionTop;
        left: -$positionLeft;
      }

      > .hexagon:nth-child(5) {
        top: $positionTop;
        left: $positionLeft;
      }

      > .hexagon:nth-child(6) {
        top: $positionTop*2;
        left: 0;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .menu{
    .items{
      max-width: 780px !important;
      .item{
        width: 170px !important;
        height: 170px !important;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    .contact, .menu {
      overflow: visible;
      transition: left 1s ease;
      top:0 !important;
      .pestana {
        visibility: visible !important;
        cursor: pointer;
        height: 385px;
        font-weight: $semi-bold;
        line-height: 1.1em;
        color: black;
        align-items: center;
        justify-content: center;
        align-self: center;
        position: relative;
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
        width: 0;

        div{
          width: 13px;
          text-transform: uppercase;
          word-wrap: break-word;
          text-align: center;
          p{
            line-height: 1.2;
          }

          &:focus{
            outline: none;
          }
        }
      }
      .labels{
        padding: 22px;
        position: initial;
      }
    }
    .menu{
      border-right: 10px solid $color-1;
      left: -99.5%;
      .pestana{
        left: 35px;
        flex-direction: column;
        border-left: 35px solid $color-1;

        div {
          margin-right: 37px;
        }
      }
    }
    .contact{
      border-left: 10px solid $color-2;
      left: 99.5%;
      .pestana{
        right: 35px;
        border-right: 35px solid $color-2;

        div {
          margin-left: 35px;
        }
      }
      .text{
        text-align: left !important;
      }
      .btn{
        margin: 0;
      }
    }
    .header_buttons{
      display: none;
    }
  }
  $width : 200px;
  .company{
    &_acordeon{
      position: relative;
      margin: auto;
      width: 926px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      &_item{
        cursor: pointer;
        margin: 12px;
        width: $width;
        height: $width;
        float: left;

        &_title{
          display: flex;
          align-items: center;
          height:100%;
          justify-content: center;
        }
      }
    }
    &_description{
      &_text {
        margin: auto;
        padding: 0 25px;
        max-width: 1100px;
      }
    }
  }
  .visible{
    position: absolute;
    width: $width * 2 + 24;
    height: $width * 2 + 24;

    &:nth-child(1),&:nth-child(5){
      top:15px;
      left: 15px;
    }
    &:nth-child(2), &:nth-child(6){
      left: 240px;
      top:15px;
    }
    &:nth-child(3), &:nth-child(7){
      right: 240px;
      top:15px;
    }
    &:nth-child(4), &:nth-child(8){
      right: 15px;
      top: 15px;
    }
    .company_acordeon_item_title{
      display: inherit;
      height: auto;
    }
  }
}
